#board {
	width: 150px;
	height: 150px;
	border: 1px solid #000;

	display: flex;
	flex-wrap: wrap;
}

#tile {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
}

.one {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.two {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.three {
	border-bottom: 1px solid black;
}
.four {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.five {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.six {
	border-bottom: 1px solid black;
}
.seven {
	border-right: 1px solid black;
}
.eight {
	border-right: 1px solid black;
}
